<!DOCTYPE html>
	<html>
		<style>
			body {
				background: linear-gradient(to bottom right, white, lavender, thistle);
			}
			h1 {
				background-color: thistle;
			}
			p {
				background-color: lavender;
			}
		</style>
		
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kathryn.l.speckels@vanderbilt.edu">email</a></li>
	        		<li><a href="https://github.com/kspecks">github.com/kspecks</a></li>
				</ul>
			</footer>
		</body>
	</html>
